body {
    margin-left: 50%;
}

#push {
    border: solid 0.5px darkgreen;
    color: darkgreen;
    border-radius: 15%;
}

#push:hover {
    background-color: darkgreen;
    color: white;

}


#pop {
    border: solid 0.5px red;
    color: red;
    border-radius: 15%;
}

#pop:hover {
    background-color: red;
    color: white;
}

#output {
    font-size: 30px;
}

#invalid {
    font-size: 30px;
}